@media only screen and (min-width: 768px){
    hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #1d2124;
    width: 51rem;
    margin-left: 4rem;
}
.card1{
    border: 1px solid rgb(167, 162, 162);
    
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: #8080801f;

    
}
.card-img, .card-img-top {
 
    background:#8080801f;
    padding: 1rem;
   
}
.card{
    font-weight: 500;
    border: none;
    font-size: 12px;
  border-radius: 3rem
}

  .card2-footer{
    height: 9rem;
    background-color: #14165d;
    width: 59.8rem;
    margin-left: -4rem
  }

  .desk .bg{
    background-image: url('images/Trusted-By-Bg.jpg');
    background-size: cover;
}


.card2-footer{
    height: 19rem;
    width: auto;
    background-color: #162a4e;
    margin-left: 0.1px;
}
.dp{
    background-color:#ebecec;
}
	
.card0-body{
    background-image: url('images/Header-image.png');
    background-size: cover;
    height: 530px;
}

.bg-light{
    background-color:#0e0f0f5e!important;;
    height: 6rem;
}

.navbar img{
    vertical-align: middle;
    border-style: none;
    height: 38px;
    margin-left: 8rem;
}
.card0 .video{
    background-color:#0c2147!important;
    height: 92rem;
    color: #ffff;
    margin-bottom: 2rem;
}
.card0 .video hr{
    border-color: #ffff;
    margin-left: 11rem;
    width: 47.5rem;
    margin-top: 2rem;
}
.cta{
    margin-top: 6rem;
    background-color: white!important;
    height: 353px;
    color: #ffff;
    background-size: 1142px 352px;
    background-image: url("images/CTA-image.png");
}
.btn-success {
    color: #fff;
    background-color: #3eb559;
    border-color: #3eb559;
}

.see{
    background-color:#ebecec ;
    height: 40rem;
    margin-top: 5rem;
}
.see_pic .card6{
    background-color: #9cb0c040;
    margin-top: 6rem;
    height: 23rem;
    /* position: absolute;  */
}
.see_pic hr{
    border-color: #6fc859;
    width: 25rem;
    margin-top: 2rem;
}
.dot{
    height: 17px;
    width: 17px;
    background-color: #232355;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0rem;
  }
  .dot1{
    height: 17px;
    width: 17px;
    background-color: #232355;
    border-radius: 50%;
    display: inline-block;
    margin-left: -3rem;
  }
  .dot2{
    height: 17px;
    width: 17px;
    background-color: #3eb559;
    border-radius: 50%;
    display: inline-block;
    margin-left: -3rem;
  }
  .card3{
    margin-top: 5rem;
  }
  .client{
      background-color:#ffff;
  }
  input{
    height: 3rem;
    margin-left: 15rem;
    width: 43rem;
    border-radius: 1%;
    border: 1px solid grey;
    padding:2rem
  }
 
.hl{
    height: 34rem;
    background-color: rgb(243, 239, 241);
    margin-top: 6rem;
    margin-left: 12rem;;
}
 
.hlw{
    height: 34rem;
    background-color: rgb(243, 239, 241);
    margin-top: 6rem;
    margin-left: 9rem;
}
.box hr{
    width: 18.5rem;
    margin-left: -1em;
}
.container-fluid{
    display: none;
}
.nav-desktop .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-light .navbar-toggler {
    color: rgb(0 0 0 / 95%);
    border-color: rgb(0 0 0 / 96%);
}
.mob .card8{
    display: none;
}
}

@media only screen and (min-device-width: 0px) and (max-device-width: 768px) {
   .nav-desktop{
       display:none;
   }
   .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-light .navbar-toggler {
    color: rgb(0 0 0 / 95%);
    border-color: rgb(0 0 0 / 96%);
}
.desk .card2{
    display: none;
}
.mob .card8{
    background-image: url("../IamFrost.github.io/images/yy/Trusted-By-Bg.jpg");
}
.mob .card8-footer{
    height: 19rem;
    background-color: #14165d;
    width: 55.8rem;
    margin-left: 0rem;
}
.mob .card8-footer{
    height: 19rem;
    width: auto;
    background-color: #162a4e;
    margin-left: 0.1px;
}
   
}
  